include/htd/CompilerDetection.hpp
include/htd/Id.hpp
include/htd/PreprocessorDefinitions.hpp
include/htd_io/PreprocessorDefinitions.hpp
include/htd_cli/PreprocessorDefinitions.hpp
src/htd/AssemblyInfo.cpp
